# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
evm.log
.idea/inspectionProfiles/
src/test/
target/classes/com/event/management/domain/validation/
target/classes/com/event/management/service/utils/
target/classes/validationMessages.properties
target/generated-sources/
